<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="visually-hidden">Tree of light</h1>
        <div class="hero-wrapper">
            <picture>
                <source srcset="
                            /img/hero/logo-desk.png 1x,
                            /img/hero/logo-desk@2x.png 2x
                                 " media="(min-width: 1439px)" />
                <source srcset="
                            /img/hero/logo-mob.png  1x,
                            /img/hero/logo-mob@2x.png 2x
                                 " media="(max-width: 1438px)" />
                <img class="hero-logo" src="/img/hero/logo-mob.png" alt="Tree of light" loading="lazy" />
            </picture>
<p class="hero-text-one">Somewhere deep in the forest of Winland, a tree grows that carries more than fruit — it carries hope.</p>
<p class="hero-text-two">Jump into Tree of Light - it's this fantasy adventure where honestly, every little thing you do actually counts for
something. As you wander through the forest, old symbols start lighting up, your buddies get tougher, and the whole
world kinda... notices what you're doing.</p> 
            <a class="hero-button" href="#demo">
                    <img class="hero-btn pulse" src="/img/hero/btn.png" alt="Enter" loading="lazy" />
            </a>
        </div>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container">
        <h2 class="disclaimer-title">Disclaimer</h2>
        <p class="disclaimer-text">megaboostway.online IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF SUCCESS PLAYING THIS GAME CANNOT BE CONSIDERED THE
        SAME AS SUCCESS IN REAL LIFE ACTIVITIES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS
        GAME.</p>
    </div>
</section>
<section class="play-section" id="demo">
    <div class="container demo-container">
        <h2 class="visually-hidden">Tree of light</h2>
        <div class="demo-wrapper" id="play">
            <picture>
                <source srcset="
             /img/demo/demo-desk.png 1x,
             /img/demo/demo-desk@2x.png 2x
             " media="(min-width: 1439px)" />
                <source srcset="
            /img/demo/demo-mob.png  1x,
             /img/demo/demo-mob@2x.png 2x
             " media="(max-width: 1438px)" />
                <img class="game-img" src="/img/demo/demo-mob.png" alt="Tree of light" loading="lazy" />
            </picture>
            <div class="iframe-wrapper">
                <iframe id="gameIframe"></iframe>

                <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                    <img src="/img/demo/close.png" alt="Close">
                </button>
            </div>
        </div>
        <a class="demo-btn" href="#play"
            data-game-url="https://demo.evoplay.games/demo/fullstate/html5/evoplay/treeoflight" target="gameIframe">
                <img class="demo-img" src="/img/hero/btn.png" alt="Play Free" loading="lazy" />
            </picture>
        </a>
        <img class="demo-firefly" src="/img/demo/firefly.png" alt="firefly" loading="lazy"/>
    </div>
</section>
<section class="forest-section" id="about">
    <div class="container forest-container">
        <div class="forest-wrapper">
        <h2 class="forest-title">The Forest That Remembers</h2>
        <p class="forest-text">Winland isn't just some pretty backdrop - this place is actually alive. The trees literally talk to you, there are
        symbols everywhere if you know where to look, and man, the deeper you explore, the more crazy stuff you learn about this
        place.</p>
    </div>
    </div>
</section>
<section class="path-section">
    <div class="container path-container">        
        <div class="path-wrapper">
<picture>
    <source srcset="
     /img/path/firefly-desk.png 1x,
    /img/path/firefly-desk@2x.png 2x
     " media="(min-width: 1439px)" />
    <source srcset="
    /img/path/firefly-mob.png 1x,
    /img/path/firefly-mob@2x.png 2x
    " media="(max-width: 1438px)" />
    <img class="path-img" src="/img/path/firefly-mob.png" alt="Tree of light" loading="lazy" />
</picture>
            <h2 class="path-title">A Path Toward the Tree of Light</h2>
            <p class="path-text">Lupine and his buddy Mino? They're not in it for the power trip. They are answering a call that leads them toward the
            legendary Tree of Light, said to grow the most radiant fruits in the forest.</p>
        </div>
    </div>
</section>
<section class="old-section" id="old">
<div class="container old-container">
    <img class="wild" src="/img/old/wild.png" alt="wild" loading="lazy">
    <div class="old-wrapper">
    <h2 class="old-title">Scrolls of the Old Forest</h2>
    <p class="old-text">Hidden scrolls display ancient patterns passed down through generations. When activated, they provide additional
    strength and gently influence the flow of the journey.<br/>It doesn't feel like the game's stopping to show you stuff - more
    like you're actually finding cool things.</p>
    <picture>
        <source srcset="
         /img/old/firefly-desk.png 1x,
        /img/old/firefly-desk@2x.png 2x
         " media="(min-width: 1439px)" />
        <source srcset="
        /img/old/firefly-mob.png 1x,
        /img/old/firefly-mob@2x.png 2x
        " media="(max-width: 1438px)" />
        <img class="old-img" src="/img/old/firefly-mob.png" alt="Tree of light" loading="lazy" />
    </picture>
</div>
<div class="old-img-wrapper">
    <img src="/img/old/violet.png" alt="violet" width="215" height="215" loading="lazy">
    <img src="/img/old/blue.png" alt="blue" width="215" height="215" loading="lazy">
</div>
</div>
</section>
<section class="quiet-section" id="quiet">
    <div class="container quiet-container">
        <div class="quiet-wrapper">
            <h2 class="quiet-title">Quiet Wonders Along the Path</h2>
            <p class="quiet-text">It's the little things that really make this game special:</p>
            <ul class="quiet-list">
                <li>a scroll revealing itself at the right time</li>
                <li>a soft glow spreading through the forest</li>
                <li>you can just sense you're getting closer to that Tree of Light</li>
            </ul>
        </div>
    </div>
</section>
<section class="like-section" id="like">
    <div class="container">
        <h2 class="like-title">You May Also Like</h2>
        <p class="like-text">This section introduces other games with a similar mood, theme, or sense of adventure:</p>
        <ul class="like-list">
            <li class="like-item">
                <h3 class="like-subtitle">Forest Dreams</h3>
                <img src="/img/like/one.png" alt="Forest Dreams" width="300" height="300" loading="lazy">
            </li>
            <li class="like-item">
                <h3 class="like-subtitle">Animal Quest</h3>
                <img src="/img/like/two.png" alt="Animal Quest" width="300" height="300" loading="lazy">
            </li>
            <li class="like-item">
                <h3 class="like-subtitle">Rocket Stars</h3>
                <img src="/img/like/three.png" alt="Rocket Stars" width="300" height="300" loading="lazy">
            </li>
        </ul>
    </div>
</section>