<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="visually-hidden">Tree of light</h1>
        <div class="hero-wrapper">
            <picture>
                <source srcset="
                            /img/hero/logo-desk.png 1x,
                            /img/hero/logo-desk@2x.png 2x
                                 " media="(min-width: 1439px)" />
                <source srcset="
                            /img/hero/logo-mob.png  1x,
                            /img/hero/logo-mob@2x.png 2x
                                 " media="(max-width: 1438px)" />
                <img class="hero-logo" src="/img/hero/logo-mob.png" alt="Tree of light" loading="lazy" />
            </picture>
<p class="hero-text-one">Somewhere deep in the forest of Winland, a tree grows that carries more than fruit — it carries hope.</p>
<p class="hero-text-two">Jump into Tree of Light - it's this fantasy adventure where honestly, every little thing you do actually counts for
something. As you wander through the forest, old symbols start lighting up, your buddies get tougher, and the whole
world kinda... notices what you're doing.</p> 
            <a class="hero-button" href="#demo">
                    <img class="hero-btn pulse" src="/img/hero/btn.png" alt="Enter" loading="lazy" />
            </a>
        </div>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container">
        <h2 class="disclaimer-title">Disclaimer</h2>
        <p class="disclaimer-text">megaboostway.online IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF SUCCESS PLAYING THIS GAME CANNOT BE CONSIDERED THE
        SAME AS SUCCESS IN REAL LIFE ACTIVITIES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS
        GAME.</p>
    </div>
</section>
<section class="play-section" id="demo">
    <div class="container demo-container">
        <h2 class="visually-hidden">Tree of light</h2>
        <div class="demo-wrapper" id="play">
            <picture>
                <source srcset="
             /img/demo/demo-desk.png 1x,
             /img/demo/demo-desk@2x.png 2x
             " media="(min-width: 1439px)" />
                <source srcset="
            /img/demo/demo-mob.png  1x,
             /img/demo/demo-mob@2x.png 2x
             " media="(max-width: 1438px)" />
                <img class="game-img" src="/img/demo/demo-mob.png" alt="Tree of light" loading="lazy" />
            </picture>
            <div class="iframe-wrapper">
                <iframe id="gameIframe"></iframe>

                <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                    <img src="/img/demo/close.png" alt="Close">
                </button>
            </div>
        </div>
        <a class="demo-btn" href="#play"
            data-game-url="https://demo.evoplay.games/demo/fullstate/html5/evoplay/treeoflight" target="gameIframe">
                <img class="demo-img" src="/img/hero/btn.png" alt="Play Free" loading="lazy" />
            </picture>
        </a>
        <img class="demo-firefly" src="/img/demo/firefly.png" alt="firefly" loading="lazy"/>
    </div>
</section>